.body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #14161F
}

.navbar {
    display: flex;
    align-items: center;
    margin-right: 0.5rem;
    list-style: none;
}

.logo {
    height: 9rem;
    width: 9rem;
    margin-left: 0.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    border: 1px solid #282A3A;
}

.position {
    justify-content: flex-start;

}

.header {
    color: #dd0930;
    font-size: 25px;
    margin-left: 2.5rem;
    margin-bottom: 2rem;
}

.right {
    position: absolute;
    margin-right: 1rem;
    right: 0;
}

.title {
    font-size: 14px;
    margin-right: 3rem;
}

.title:hover,
.title:focus,
.title:active {
    color: #dd0930;
    border-color: #dd0930;
}

.static {
    position: static;
    border: 1px solid #282A3A;
}

.button {
    background: #dd0930;
    border: 0;
    border-radius: 12px;
    color: #FFFFFF;
    cursor: pointer;
    font-family: -apple-system, system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 2.5;
    outline: transparent;
    padding: 0 2rem;
    text-align: center;
    text-decoration: none;
    transition: box-shadow .2s ease-in-out;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    margin-right: 0.5rem;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(54, 32, 36, 0.5), .125rem .125rem 1rem rgba(255, 255, 255, 0.5);

}

.button:not([disabled]):focus {
    box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}

.button:not([disabled]):hover {
    box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}